* {
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
    font-family: sans-serif;
}

body {
    background-image: url("../media/background.jpg");
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 1rem;
    font-family: "Proza Libre", sans-serif;

}

header h2 {
    font-size: 2.5rem;
    /* font-family: serif;
    font-style: italic; */
    letter-spacing: 2px;
}

nav {
    flex: 1 1;
    margin: 0 1rem;
}

header ul {    
    display: flex;
    list-style: none;
    align-items: center;
    /* justify-content: space-around; */
}

header ul li {
    display: flex;
    justify-content: center;
    flex: 1 1;
    font-size: 1.4rem;
    font-weight: 600;
}

header ul li:hover {
    font-size: 1.5rem;
}
  
header ul li:active {
    font-size: 1.3rem;
}

.btn {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: .75rem 2rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  transform: scale(1.125);
}

.btn:active {
  transform: scale(1.025);
}

.btn a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
}


/*index main content */

h1 {
    font-size: 3.5rem;
    margin: 2rem;
    float: center;
}

main {
    background: rgb(35,17,77);
    background: linear-gradient(70deg, rgba(35,17,77,1) 0%, rgba(45,23,97,1) 50%, rgba(50,26,107,1) 77%, rgba(55,29,116,1) 100%);
    width: 90%;
    height: 80%;
    border-radius: 30px;
    display: flex;    
}

.container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    display: inline-block;
    /* line-height: 0.9; */
}


.left section{
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.left ul {
    list-style: url("../media/check-mark-2-32.png");
    width: 100%;
    padding-left: 3rem;
    margin-left: 2rem;
}

figure {
    width: 75%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

figure img {
    min-width: 300px;

    max-width: 100%;
    height: auto;
    overflow: hidden;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    color: #fff;
}

/* mobile styles */
@media only screen and (max-height: 600px) {
    html {
        height: auto;
    }   
}


@media only screen and (max-width: 768px){
    .logo {
        display: none;
    }
    html, body{
        height: auto;    
      }
    h1 {
        font-size: 2.5rem;
    }
    main {
        flex-direction: column;       
    }
    .container {
        width: 100%;
        height: auto;
    }
    .container h2 {
        font-size: 1.2rem;
    }
   
    figure {
        width: 90%;
    }
    figure img {
        min-width: 200px;
        max-height: 25rem;
        padding: 2rem;
    }
    header h2 {
        font-size: 1.5rem;
    }
    header ul {
        font-size: 1rem;
    }
    .btn {
        font-size: 1rem;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        padding: 1rem 1.3rem;
    }
    
}

/* about  */

#about p {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

#skills {
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#skills h2 {
    font-size: 2rem;
    margin: 0 2rem;
    padding-left: 3rem;
    align-items: flex-start;
    font-family: "Proza Libre", sans-serif;
}

#skills-container {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#skills-container i {
    font-size: 1.2rem;
    margin: 1rem 0.3rem;
}


/* projects */
.info {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    margin: 0.5rem;
    line-height: 1.6;
}

.info span {
    font-weight: 550;
    font-size: 1.25rem;
}

.projects ul a  {
    font-weight: 600;
    font-size: 1.6rem;
}

/* contact */
#contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

#contact-container p {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    margin: 0 2rem;
}   

